@media (min-width: 1024px) {
    
    .container-login {
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(3,fr);
        display: grid;
    }

    .void {
        padding: 50px;
        grid-column: 1;
        grid-row: 1;
    }

    .lgn-element {
        grid-column: 1;
        grid-row: 2;
    }

    .form-login {
        display: grid;
        grid-column: 2;
        grid-row: 2 /span 3;
        grid-template-columns: repeat(2,fr);
        grid-template-rows: repeat(5,fr);
    }

    .form-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        justify-self: center;
        align-self: center;

        border: black 3px solid;
        margin: 0 2fr;
        padding: 30px;
    }

    .form-box input[type="email"],input[type="password"], input[type="submit"] {
        grid-column: 1 /span 2;
    }

    .form-box .icons {
        justify-self: center;
        grid-column: 1 /span 2;
    }
    
}
@media (max-width: 1023px) {
    /* Agrega aquí los estilos para tabletas */
    body {
        background-color: red;
    }
}
