.tittle-main {
    display: flex;
    justify-content:start;
    align-items:center;
    height:auto;
    flex-direction: column;
    background-color: rgb(5, 5, 191);

    h1,h2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:orange;
        text-shadow: 2px 2px #252525;
    }
}

.login {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        background-color: orange;
        padding: 20px;
        border: #252525 solid 2px;
        border-radius: 30px;
        
        input[type=text],input[type=password],input[type=submit] {
            color: rgb(76, 0, 255);
            padding: 5px;
            box-sizing: border-box;
            border: 2px solid rgb(76, 0, 255);
            border-radius: 4px;
        }
        input[type=submit] {
            background-color: rgb(68, 180, 156);
            border: 2px solid rgb(25, 25, 25);
            color: rgb(25,25,25);

            &:hover {
                background-color: rgb(15, 204, 43);
            }
        }
    }
}